:root {
    --white: #fff;
    --bgDarkColor1: #20222f;
    --bgDarkColor2: #1d2029;
    --subTitleDarkColor: #8d92b3;
    --divInfDarkColor: #252b43;
    --faceColor: #1690f8;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    height: 100vh;
    width: 100%;
    background-color: var(--bgDarkColor2);
}

.totals {
    padding: 3% 5%;
}

.totals h1 {
    font-size: 25px;
    font-weight: bold;
    color: var(--white);
}

.totals a {
    
    color: var(--subTitleDarkColor);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div {
    text-align: center;
    vertical-align: middle;
    height: 200px;
    width: 200px;
    padding: 3%;
    margin: 1em 2em;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--divInfDarkColor);
}

.face-total {
    display: flex;
    align-items: center;
    border-top: solid var(--faceColor);
}